
.exerciseHeader, .exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseMainFeatures {
    display:flex;
    gap:10px;
    margin-bottom: 10px;
}

.exerciseMainFeatures .exerciseMarketingFeature {
    width:50%;
}

.exerciseMainFeatures .exerciseMarketingFeature:first-child {

}

.exerciseAdditionalFeatures {
    display:flex;
    gap:10px;
}

.ichi {
    order: 2;
}

.ni {
    order: 3;
}

.san {
    order: 1;
}

.exerciseAdditionalFeatures .exerciseMarketingFeature {
    width: 33%;    
}

.exerciseAdditionalFeatures .exerciseMarketingFeature:first-child {

}