
.exerciseHeader, .exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseMain {
    display:flex;
    gap:10px;
}

.exerciseMainContent {
    flex-grow: 3;
    order: 2;
}

.exerciseMainAside {
    flex-grow: 1;
    order: 1;
}